@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}

/* Cookie Banner Styles */
.cookie-banner {
    display: flex;
    align-items: center;
    background-color: #CA2020; /* Green background color */
    color: #fff; /* White text color */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    max-width: 600px;
    margin: 0 auto;
    z-index: 1000;
  }
  
  /* Cookie Icon */
  .cookie-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  
  /* Cookie Text */
  .cookie-text {
    flex-grow: 1;
    font-size: 14px;
    line-height: 1.5;
    margin-right: 10px;
    
  }
  
  /* Link Style */
  .cookie-link {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Button Style */
  .cookie-button {
    background-color: #fff;
    color: #CA2020;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cookie-button:hover {
    background-color: #ddd;
  }




/* Media Query dla ekranów poniżej 500px */
@media (max-width: 500px) {
  .cookie-banner {
      max-width: 90%; /* Zmiana maksymalnej szerokości na 90% */
      left: 5%; /* Ustawienie lewego marginesu */
      right: 5%; /* Ustawienie prawego marginesu */
  }
}

/* Media Query dla ekranów poniżej 400px */
@media (max-width: 430px) {
  .cookie-banner {
      max-width: 90%; /* Zmiana maksymalnej szerokości na 95% */
      left: 2.5%; /* Ustawienie lewego marginesu */
      right: 2.5%; /* Ustawienie prawego marginesu */
  }
  @media (max-width: 350px) {
    .cookie-banner {
        max-width: 80%; /* Zmiana maksymalnej szerokości na 95% */
        left: 2.5%; /* Ustawienie lewego marginesu */
        right: 2.5%; /* Ustawienie prawego marginesu */
    }
}
}