@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}


.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: rgb(202, 32, 32);
}

.btn {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.btn:hover {
	color: white;
	background-color: rgb(20, 87, 220);
}
.brand h1 {
	font-size: 5rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: rgb(255, 255, 255);
	
}
.brand h1  {
	color: rgb(255, 255, 255);
	
}
/* .brand h1 .red  {
	color:red;
} */

/*navbar section*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: #3B3B3B;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
	
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1500px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 1.2rem; /* Reduced font size */
	font-weight: 500;
	letter-spacing: 0.1rem; /* Adjusted letter spacing */
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 15px; /* Adjusted padding */
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(31, 30, 30, 0.24);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: rgb(244, 4, 4);
	font-weight: 1000;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1.5s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* Footer*/
#footer{
    background-image: linear-gradient(60deg,grey,black);
	padding-top: 10px;
    
} 
.footer {
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 10px;
    flex-direction: column;
	

}

#footer .btn{

    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border:2px solid rgb(29, 29, 29);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3 ease background-color;
    transition-property: background-color, color;
	border-radius: 10px;
 	margin-bottom: 10px;
    

}
#footer .btn:hover{
    color: white;
    background-color: rgb(29, 29, 29);

}




.wrapper {
  display: flex;
  list-style: none;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #fbfcfd;
  color: #000000;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #fcfcfc;
  color:  #000000;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #fcfcfc;
  color: #000000;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #fcfcfc;
  color: #000000;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background:#ffffff;
 color: #000000;
}

#footer .footer_copyright{
	font-weight: bold;
	color: #FFF;
	height: auto;
	text-align: center;
   
}

#footer .footer_copyright a{
color: white;
font-weight: 500;
}
#footer .footer_copyright p{
	color: white;
	
	}

/* end footer*/

  /* Media Query For Desktop */
  @media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */
  }

/* End  Media Query For Desktop */
/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

/* Stylizacja formularza */
#form {
    padding: 50px 0;
    text-align: center;
    
  
}

.form.container {
    max-width: 600px;
    margin:auto;
}

.form.container h1 {
    font-size: 5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
   
}

label {
    margin-top: 10px;
    text-align: center;
}

input, textarea {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200%;
 
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #ff0101;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* koniec Stylizacja formularza */

/* panel logowania */
.login-panel {
    background-color: #ffffff; /* Białe tło dla panelu logowania */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; /* Można dostosować szerokość panelu */
    text-align: center; /* Wyśrodkowanie zawartości wewnątrz panelu */
}

.login-panel h1 {
    color: #333333; /* Szary kolor nagłówka */
    margin-bottom: 20px;
}

.login-panel input[type="text"],
.login-panel input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-panel button {
    width: 100%;
    padding: 10px;
    background-color: #ff0000; /* Czerwony kolor przycisku */
    color: #ffffff; /* Biały kolor tekstu przycisku */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-panel button:hover {
    background-color: #808080; /* Szary kolor przycisku przy hover */
    color: #ffffff; /* Biały kolor tekstu przy hover */
}

/* koniec panelu logowania */